<div class="col-lg-12 form-group">
    <button type="button" class="btn btn-primary" 
    (click)="op(filter)"
    style="position: relative; float: right; border-radius: 0; padding: .2rem 1rem;">Filter</button>
 </div>

 <div class="grid"
 style="position: relative;top: 3rem;">
<ag-grid-angular
style="width:1202px; height:300px;"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
></ag-grid-angular>
</div>

<ng-template #filter let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Filter
        </h4>
        <button type="button" class="close btn btn-primary"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
            <span aria-hidden="true" style="font-size: 18px;">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-sm-6" style="margin-bottom: 1rem; display: flex; flex-direction: column;">
                    <label for="appt">From Date:</label>
                    <input type="date" id="FROM_DATE" name="FROM_DATE" [(ngModel)]="FROM_DATE">
                </div>
                <div class="col-lg-6 col-sm-6" style="display: flex; flex-direction: column;">
                    <label for="appt">To Date:</label>
                    <input type="date" id="TO_DATE"  name="TO_DATE"  [(ngModel)]="TO_DATE">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Select Payot country</label>
                    <ng-select (change)="changeFn(PAYOUT_COUNTRY)" [items]="find"
                    bindLabel="CountryName"
                    placeholder="Select CountryName"
                    [(ngModel)]="PAYOUT_COUNTRY"
                    name="quarter" ng-model="Quarter" >
                        <ng-option *ngFor="let fin of find" [(value)]="fin.CountryName">
                            {{fin.CountryName}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Select Payot Agent</label>
                    <ng-select (change)="changeFn(PAYOUT_AGENT)" [items]="find1"
                    bindLabel="Agent_Name"
                    [(ngModel)]="PAYOUT_AGENT" name="quarter" ng-model="Quarter" >
                        <ng-option *ngFor="let fin of find1" [(value)]="fin.Agent_Name">{{fin.Agent_Name}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Select Payot Agent Branch</label>
                    <ng-select (change)="changeFn(PAYOUT_AGENT_BRANCH)" [(ngModel)]="PAYOUT_AGENT_BRANCH" name="quarter" ng-model="Quarter" >
                        <ng-option value="1" >Q1</ng-option>
                        <ng-option value="2" ng-selected="Quarter=='Q1'">Q2</ng-option>
                        <ng-option value="3">Q3</ng-option>
                        <ng-option value="4">4</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <button type="submit"
        (click)="setValue()"
        style="position: relative; float: right; margin: 1rem;" 
        class="btn btn btn-primary">
        Show
    </button>
    </form>
    </div>
  </ng-template>