<!-- ngNativeValidate -->
 <div class="Container">
     <form  #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
         <h2 class=" title text-center">Customer Registration</h2>
     <div class="row" style="box-shadow: none !important;">
         <h2 class="head">Demograpics</h2>
         <div class="panel rounded-3">
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="name-f">First Name</label>
             <input type="text" style="border-radius: 20px;width: 70%;" class="form-control" [(ngModel)]="first_name" name="first_name" id="name-f" placeholder="Enter your first name." autocomplete="new-password"  required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="name-l">Middle name</label>
             <input type="text" style="border-radius: 20px;width: 70%;" class="form-control" [(ngModel)]="middle_name" name="middle_name" id="name-l" placeholder="Enter your middle name." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="email">Last Name</label>
             <input type="text" style="border-radius: 20px;width: 70%;" class="form-control"  [(ngModel)]="last_name" name="last_name" id="email" placeholder="Enter your last name." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="Date">Date Of Birth</label>
             <input type="Date" style="border-radius: 20px;width: 70%;"  [(ngModel)]="dob" name="dob" class="form-control" id="Date" placeholder="" required>
         </div>
         <div class="field col-sm-4 form-group mt-3">
            <label class="toggle">
                <input class="toggle-checkbox" id="toggle-checkbox" (click)='Areyousure();' type="checkbox">
                <div class="toggle-switch">
                    <fa-icon [icon]="faMale" style="position: absolute; padding-left: 1rem;font-size: 20px; padding-top: .3rem;"></fa-icon>
                    <fa-icon [icon]="faFemale" style="position: absolute; padding-left:4.4rem;font-size: 20px; padding-top: .3rem;"></fa-icon>
                </div>
                <span class="toggle-label">Gender</span>
            </label>
         </div>
         <div class="col-sm-4" style="  padding: 1rem 1rem; justify-content: space-between;">
            <label class="p-1">Nationality</label>
                  <ng-select class="custom"
                            (change)="onChange(selection)"
                            [items]="find"
                            placeholder="Choose Nationality"
                            bindLabel="Nationality"
                            [(ngModel)]="selection"  name="quarter" ng-model="Quarter" style="width: 250px;">
                      <ng-option *ngFor="let fin of find" [(value)]="fin.Nationality">{{fin.Nationality}}</ng-option>
                  </ng-select>
          </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="Country">Country</label>
             <ng-select class="custom"
                    (change)="Change(sel)"
                    [items]="find1"
                    placeholder="Choose Country"
                    bindLabel="Name"
                    [(ngModel)]="sel"  name="quarter" ng-model="Quarter" style="width: 250px;">
                <ng-option *ngFor="let fin of find1" [(value)]="fin.Name">{{fin.Name}}</ng-option>
            </ng-select>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="address-1">Address</label>
             <input type="address" style="border-radius: 20px;width: 70%;" class="form-control"  [(ngModel)]="locality" name="locality" id="address-1" placeholder="Locality/House/Street no." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="email">Mobile Number</label>
             <input type="email" style="border-radius: 20px;width: 70%;" class="form-control"  [(ngModel)]="mobile" name="mobile" id="mobile" placeholder="Enter your Mobile Number." required>
         </div>
         <div class="field col-sm-6 form-group">
             <label class="p-1" for="address-2">E-mail</label>
             <input type="email" style="border-radius: 20px;width: 70%;" class="form-control"  [(ngModel)]="email" name="email" id="address-2" placeholder="Enter your e-mail" autocomplete="new-password"  required />
         </div>
        </div>
         <h2 class="head mt-3">Identity</h2>
         <div class="panel rounded-3">
         <div class="field col-sm-4 form-group">
            <label class="p-1" for="Country">ID Type</label>
            <ng-select class="custom"
                    (change)="IDs(ID)"
                    [items]="find2"
                    placeholder="ID Type"
                    bindLabel="IDType"
                    [(ngModel)]="ID"  name="quarter" ng-model="Quarter" style="width: 250px;">
                <ng-option *ngFor="let fin of find2" [(value)]="fin.IDType">{{fin.IDType}}</ng-option>
            </ng-select>
        </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="zip">ID Desc</label>
             <input type="zip" style="border-radius: 20px;width: 70%;" class="form-control"  [(ngModel)]="id_des" name="id_des" id="zip" placeholder="ID Description." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="tel">ID No.</label>
             <input type="tel" style="border-radius: 20px;width: 70%;"  [(ngModel)]="id_no" name="id_no" class="form-control" id="tel" placeholder="ID Number." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="Date">ID Issue Date</label>
             <input type="Date" style="border-radius: 20px;width: 70%;"  [(ngModel)]="issue_date" name="issue_date" class="form-control" id="IssueDate" placeholder="" required>
         </div>
         <div class="field col-sm-5 form-group">
             <label class="p-1" for="Date">ID Expiry Date</label>
             <input type="Date" style="border-radius: 20px;width: 70%;"  [(ngModel)]="expiry_date" name="expiry_date" class="form-control" id="ExpiryDate" placeholder="" required>
         </div>
         </div>
         <h2 class="head mt-3">Funding & Income</h2>
         <div class="panel rounded-3">
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="tel">Source Of Fund</label>
             <ng-select class="custom"
                    (change)="Source(SOURCE)"
                    [items]="find3"
                    bindLabel="SourceOfIncome"
                    placeholder="Source Of Fund"
                    [(ngModel)]="SOURCE"  name="quarter" ng-model="Quarter" style="width: 250px;">
                <ng-option *ngFor="let fin of find3" [(value)]="fin.SourceOfIncome">{{fin.SourceOfIncome}}</ng-option>
            </ng-select>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="tel">Source Detail</label>
             <input type="tel" style="border-radius: 20px;width: 70%;"  [(ngModel)]="source_details" name="source_details" class="form-control" id="sd" placeholder="Source Details." required>
         </div>
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="tel">Monthly Income</label>
             <input type="tel" style="border-radius: 20px;width: 70%;"  [(ngModel)]="monthly_income" name="monthly_income"  class="form-control w-70" id="mi" placeholder="Enter your monthly income." required>
         </div>
         </div>
         <h2 class="head mt-3">KYC Details</h2>
         <div class="panel rounded-3">
         <div class="field col-sm-4 form-group">
             <label class="p-1" for="pass">KYC ID</label>
             <input type="text" style="border-radius: 20px;width: 70%;" [(ngModel)]="kyc_id" name="kyc_id" class="form-control" id="pass" placeholder="Enter your KYC ID." required>
         </div>
         <div class="field col-sm-8 form-group">
             <label class="p-1" for="pass2">KYC Detail</label>
             <input type="text" style="border-radius: 20px;width: 70%;" [(ngModel)]="kyc_details" name="kyc_details" class="form-control" id="pass2" placeholder="Enter your KYC Details." required>
         </div>
         <div class="field col-sm-12">
             <label class="p-1" for="pass">File Upload</label>
             <input type="file" id="myFile" name="filename" style="border-radius: 0 !important;">
         </div>
     </div>
     </div>
     <button type="submit"
     (click)="submit();"
     class="btn btn-primary" routerLink="/app-email/beneficiary-registration"  style="position: relative; float: right;">Add Beneficiary</button>

     <!-- <button type="submit"
     (click)="submit();"
     class="btn btn-primary" style="position: relative; float: right;">Add Beneficiary</button> -->
     </form>
 </div>
