@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ng-select .ng-select-container{
    border-radius: 20px !important;
}

.panel{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 15px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title {
    font-family: "Roboto", sans-serif;
    padding: .3rem 0rem;
    font-weight: 400;
    font-size: 30px;
    color: #444;
}
.head {
    margin-left: -0.5rem;
    font-size: 27px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #333;
}
.form-control:focus {
    border-color: #555;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label {
    color: #222;
    padding: 1rem 0rem;
    font-family: "Roboto", sans-serif;
}
::placeholder{
    font-size: 15px;
}

.field {
    padding-bottom: 1.8rem;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 98px;
    height: 38px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #999;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 60px;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
