.beneficiary, .customer{
    border: 1px solid #999;
    padding: .7rem;
}

.col-lg-12, .col-lg-8{
    padding: .5rem;
}
.details{
    box-shadow: none !important;
}
.row{
    box-shadow: none !important;
}
