<div class="row">
    <div class="col-lg-4">
        <p style="font-weight: 700;cursor: pointer;">print</p>
    </div>
    <div class="col-lg-4">
            <p>Email</p>
            <p style="position: relative;top: -10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, deleniti!</p>
            <p style="position: relative;top: -20px;">India</p>
            <p style="position: relative;top: -30px;">Phone: </p>
    </div>
    <div class="col-lg-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-6"style="font-weight: 700; margin-bottom:1rem">Customer ID</div>
    <div class="col-lg-4"style="font-weight: 700;">Transaction Receipt</div>
    <div class="col-lg-2"style="font-weight: 700;">Agent Copy</div>
</div>

<div class="row" style="display: flex;">
<div class="beneficiary" style="width: 50%;">
    <h3 class="details" style="font-weight: 700;">Transaction Details:</h3>
    <div class="row">
        <div class="col-lg-12" style="font-weight: 700;">Txn Number:</div>
        <div class="col-lg-12" style="font-weight: 700;">Txn Mode:</div>
        <div class="col-lg-12" style="font-weight: 700;">Date & Time:</div>
    </div>
    <h3 class="details" style="font-weight: 700;">Payment Details:</h3>
    <div class="row">
        <div class="col-lg-12" style="font-weight: 700;">Sending Currency:</div>
        <div class="col-lg-12"style="font-weight: 700;">service Fee:</div>
        <div class="col-lg-12"style="font-weight: 700;">VAT(0%):</div>
        <div class="col-lg-12"style="font-weight: 700;">Total Payable:</div>
        <div class="col-lg-12"style="font-weight: 700;">Exchange Rate:</div>
        <div class="col-lg-12"style="font-weight: 700;">Receiving Currency:</div>
        <div class="col-lg-12"style="font-weight: 700;">Purpose Of Transfer:</div>
    </div>
</div>


<div class="customer" style="width: 50%;">
    <h3 class="details"style="font-weight: 700;">Customer Details:</h3>
    <div class="row">
        <div class="col-lg-12"style="font-weight: 700;">Name:</div>
        <div class="col-lg-12"style="font-weight: 700;">Contact No.:</div>
        <div class="col-lg-12"style="font-weight: 700;">Address:</div>
        <div class="col-lg-12"style="font-weight: 700;">ID Type:</div>
        <div class="col-lg-12"style="font-weight: 700;">ID Number:</div>
        <div class="col-lg-12"style="font-weight: 700;">ID Expirydate:</div>
        <div class="col-lg-12"style="font-weight: 700;">Relation with Beneficiary:</div>
    </div>
    <h3 class="details"style="font-weight: 700;">Beneficiary Details:</h3>
    <div class="row">
        <div class="col-lg-12"style="font-weight: 700;">Name:</div>
        <div class="col-lg-12"style="font-weight: 700;">Contact No.:</div>
        <div class="col-lg-12"style="font-weight: 700;">Address:</div>
    </div>
</div>

</div>


<div class="row" style="display: flex;">
<div class="beneficiary" style="width: 50%;">
    <h3 class="details" style="font-weight: 700;">Payout Agent Details:</h3>
    <div class="row">
        <div class="col-lg-12" style="font-weight: 700;">Payout Agent Name:</div>
        <div class="col-lg-12" style="font-weight: 700;">Branch:</div>
    </div>
</div>


<div class="customer" style="width: 50%;">
    <h3 class="details" style="font-weight: 700;">Loyality points Details:</h3>
    <div class="row">
        <div class="col-lg-12" style="font-weight: 700;">Card No.:</div>
        <div class="col-lg-12" style="font-weight: 700;">Avail. Points:</div>
        <div class="col-lg-12" style="font-weight: 700;">Balance Points:</div>
    </div>
</div>

</div>

<p style="display: flex;justify-content: center;align-items: center;margin-top: 1rem;">Thank you for using Totipay</p>
<p style="display: flex;justify-content: center;align-items: center;font-weight: 700;">Terms & condition</p>
<p style="display: flex;justify-content: center;align-items: center; text-align: center;padding: 0rem 5rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum similique neque cumque rerum quibusdam harum veritatis, magnam voluptates nemo deleniti officia culpa nam animi delectus hic error. Facilis exercitationem doloremque unde quaerat rerum illum aperiam totam, aspernatur incidunt ipsum ipsa?</p>
<div class="row">
    <div class="col-lg-4" style="padding: .5rem 0rem; font-weight: 700;">Customer</div>
    <div class="col-lg-4" style="padding: .5rem 0rem;font-weight: 700;">User -</div>
    <div class="col-lg-4"style="padding: .5rem 0rem;font-weight: 700;">Cashier</div>
    <div class="col-lg-4" style="padding: .5rem 0rem;">Signature: </div>
    <div class="col-lg-4" style="padding: .5rem 0rem;">I/We have collected the request ID's as per regulations</div>
    <div class="col-lg-4" style="padding: .5rem 0rem;font-weight: 700;">T&C Apply</div>

</div>