<h1>Reports</h1>
    <div class="col">  
        <h2></h2> 
        <button (click)="op(filter)"
        type="button" class="btn btn-primary"
         style="color: #fff;position:relative;left: 900px; letter-spacing: 1px;margin: 1rem; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
         Filter<fa-icon [icon]="faFilter"></fa-icon></button>

         <ag-grid-angular
         style="width:1002px; height:150px;"
         class="ag-theme-balham"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         ></ag-grid-angular>

    </div>



<ng-template #filter let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Filter
        </h4>
        <button type="button" class="close btn btn-primary"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
            <span aria-hidden="true" style="font-size: 18px;">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-sm-6" style="margin-bottom: 1rem; position: relative; right: 0;">
                        <label for="appt">From Date:</label>
                        <input type="date" id="birthday" formControlName="time" name="birthday">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <label for="appt">To Date:</label>
                        <input type="date" id="birthday" formControlName="timeto" name="birthday">
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-sm-6" style="margin-bottom:1rem;">
                    <ng-select class="btn  dropdown-toggle"
                    [items]="find1"
                    bindLabel="Nationality"
                    placeholder="Select nationality"
                    [(ngModel)]="selection"
                    formControlName="selecteNationality"
                    style="position: absolute; width: 222px;">
                        <ng-option *ngFor="let fin of find" [(value)]="fin.Nationality">
                            {{fin.Nationality}}
                        </ng-option>
                    </ng-select>
                  </div>
                  <div class="col-lg-6 col-sm-6" style="display: block; height: 40px;">
                    <ng-select class="btn  dropdown-toggle"
                    [items]="find"
                    bindLabel="CurrencyName"
                    placeholder="Select currency"
                    [(ngModel)]="select"
                    formControlName="selectedCurrency"
                    style="position: absolute; width: 222px;">
                        <ng-option *ngFor="let fin of find" [(value)]="fin.CurrencyName">
                            {{fin.CurrencyName}}
                        </ng-option>
                    </ng-select>
                  </div>
                </div>
            </div>
            <button type="submit"
            style="position: relative; float: right; margin: 1rem;" 
            class="btn btn btn-primary">
            Show
        </button>
        </form>
    </div>
</ng-template>
