.sidemenu-area .sidemenu-body .sidemenu-nav{
    background-color: #fafafa;
}
.sidemenu-area{
    box-shadow: rgba(199, 204, 209, 0.2) 0px 8px 24px;
}
.e-treeview .e-list-text{
    font-size: 15px;
    font-weight: 500;
    color:#7e7e7e;
}
.e-treeview .e-list-text:hover{
    color:#e1000a;
}
.e-treeview .e-list-item.e-active > .e-text-content .e-list-text{
    color: #e1000a !important;
}