.container{
    background-color: #fafafa;
}
// .panel{
//     display: flex;
//     flex-wrap: wrap;
//     background-color: #fff;
//     margin: 1rem 0rem;
//     padding: 1rem;
//     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// }
#card{
    // margin: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}