<div class="container">
    <!-- Start -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Complaince Block</span>
                <h3>1002</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="56.9"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Unpaid USD</span>
                <h3>10,103</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="32.1"></div>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">IN Progress</span>
                <h3>1000</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="45.5"></div>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Total payout</span>
                <h3>1000</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="26.0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
    
    <!-- Start -->
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <!-- Email Send Chart -->
            <div class="card mb-30 rounded-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3>Country wise Compliance Issues</h3>
                </div>
                <app-email-send></app-email-send>
            </div>
            <!-- End Email Send Chart -->
        </div>
    </div>
    <!-- End -->

<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" 
            style="position: relative; float: right; margin: 5px; border-radius: 0; padding: .3rem 1rem; margin: .5rem 1rem;">Filter
        </button>
    </div>
</div>

    <ag-grid-angular
    #agGrid
        style="width:1202px; height:300px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
    ></ag-grid-angular>
    

    </div>