@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap");
*{
    font-family: "Roboto", sans-serif;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
.modal-content{
    border-radius: 1rem !important;
}
.modal-header,
.modal-footer{    
    border: none !important;
}