<!-- Start Login Area -->
<div class="login-area bg-image">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="login-form">
                <div class="logo">
                    <a routerLink="/dashboard/analytics"><img src="assets/img/logo.png" alt="image"></a>
                </div>

                <h2>Welcome</h2>

                <form #Form="ngForm" [formGroup]="form" (ngSubmit)=getvalues(Form.value)>
                    <div class="form-group">
                        <input formControlName="name" id="name"  type="text" ngModel class="form-control" name="name" autocomplete="new-password" placeholder="User Id">
                        <span class="label-title"><i class='bx bx-user'></i></span>
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">
                            User Id is required.
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="password" id="password" type="password" ngModel class="form-control" name="password" placeholder="Password">
                        <span class="label-title"><i class='bx bx-lock'></i></span>
                        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="remember-forgot">
                            <a routerLink="/authentication/forgot-password-with-image" class="forgot-password">Forgot password?</a>
                        </div>
                    </div>
                    <button type="submit" [disabled]="Form.form.invalid" class="login-btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Login Area -->