<div class="container">
  <div class="col-sm-12 form-group mb-0">
      <h1 style="margin-top: 2rem;">Customer List</h1>
        <button type="button" class="btn btn-primary" 
        routerLink="/app-email/customer-registration"
        style="position: relative; float: right; border-radius: 5; padding: .3rem 1rem; margin-top: -4rem;">New</button>
     </div>
     <div class="details" style="padding: 2rem 0rem; margin: 2rem 0rem;">
     <ag-grid-angular
        style="width:1202px; height:300px;"
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (rowClicked)='onRowClicked($event)'
        ></ag-grid-angular>
      </div>
</div>