<div class="col-lg-12 form-group">
   <button type="button" class="btn btn-primary" 
   (click)="op(filter)"
   style="position: relative; float: right; border-radius: 0; padding: .2rem 1rem;">Filter</button>
</div>

<div class="grid"
style="position: relative;top: 3rem;">
<ag-grid-angular
style="width:1202px; height:300px;"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
></ag-grid-angular>
</div>

<ng-template #filter let-modal>
   <div class="modal-header">
       <h4 class="modal-title" 
           id="modal-basic-title">
           Filter
       </h4>
       <button type="button" class="close btn btn-primary"
               aria-label="Close" (click)=
               "modal.dismiss('Cross click')">
           <span aria-hidden="true" style="font-size: 18px;">
               ×
           </span>
       </button>
   </div>
   <div class="modal-body">
     <form>
       <div class="form-group">
           <div class="row">
               <div class="col-lg-6 col-sm-6" style="margin-bottom: 1rem">
                   <label for="appt">From Date:</label>
                   <input type="date" id="birthday"  formControlName="time" name="birthday">
               </div>
               <div class="col-lg-6 col-sm-6">
                   <label for="appt">To Date:</label>
                   <input type="date" id="birthday"  formControlName="timeto" name="birthday">
               </div>
           </div>
       </div>
       <button type="submit"
       style="position: relative; float: right; margin: 1rem;" 
       class="btn btn btn-primary">
       Show
   </button>
   </form>
   </div>
 </ng-template>