<div class="container" id="container">
  <div class="col-sm-12 form-group mb-0">
    <button type="button"
    (click)="submit();"
    class="btn btn-primary" style="position: relative; float: right; margin: 5px; border-radius: 0; padding: .3rem 1rem; margin: .5rem 0rem;">Save</button>
 </div>
        <h2 class="title text-center">Transfer</h2>

          <!--  -->
          <div style="display: flex;">

          <div class="table-responsive" >
            <table class="table table-bordered" style="width: 816px;position: relative; overflow: hidden;">
              <thead>
                <tr class="tr">
                  <th style="width: 50px; background-color: #fff !important;">
                    <i class='bx bxs-send' style="position: relative;top: 2px;padding: 0rem .5rem;font-size: 20px;"></i>
                  </th>
                  <th style="width: 650px;">
                  <div class="box" style="display: flex;flex-direction: row; position: absolute;margin-top: -1.3rem;">
                    <p style="padding:0rem .7rem; font-size: 12px;">NAME:{{name}}</p>
                    <p style="padding:0rem .7rem;font-size: 12px;">COUNTRY:{{country}}</p>
                    <p style="padding:0rem .7rem;font-size: 12px;">EMAIL:{{email}}</p>
                  </div>
                  </th>
                  <th  style="font-size: 12px;">Sent</th>
                </tr>
              </thead>
            </table>
            <div *ngIf="Data !== 'Appear'"  class="table-responsive" id="bene" >
              <!-- <table class="table table-bordered" style="width: 816px;position: absolute;top: 310px;"> -->
              <table class="table table-bordered" style="width: 816px;position: relative;overflow: hidden;">
                <thead>
                  <tr class="trs">
                    <th style="width: 50px; background-color: #fff !important;">
                      <i class='bx bx-wallet' style="position: relative;top: 2px;padding: 0rem .5rem;font-size: 20px;"></i>
                    </th>
                    <th style="width: 650px; height: 50px;">
                      <div class="box"  style="display: flex;flex-direction: row; position: absolute;margin-top: -1.3rem;">
                        <p style="padding:0rem 1rem;font-size: 12px;">NAME:{{names}}</p>
                        <p style="padding:0rem 1rem;font-size: 12px;">COUNTRY:{{countrys}}</p>
                        <p style="padding:0rem 1rem;font-size: 12px;">EMAIL:{{emails}}</p>
                      </div>
                    </th>
                    <th style="font-size: 12px;">Receive</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>

            <div *ngIf="Data !== 'Appear'" style="width: 350px;">
              <table class="hlo">
                <thead>
                  <tr style="background-color: #fff !important;">
                    <th>Currency</th>
                    <th>Commisssion</th>
                    <th>9,99,999</th>
                  </tr>
                </thead>
              </table>
            </div>

          </div>
          <!--  -->


      <div *ngIf="Data === 'Appear'" class="details" style="padding: 2rem .5rem; margin: 4rem 0rem;">
        <ag-grid-angular
           style="width:1150px; height:170px;"
           class="ag-theme-balham"
          [gridOptions]="gridOptions"
           [rowData]="rowData"
           [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
           (rowClicked)='onRowClicked($event)'

           ></ag-grid-angular>
         </div>




<form *ngIf="Data !== 'Appear'" class="form">
  <div class="row">
    <div class="col-sm-12">
    <h3 style="text-align: center;">Payment Details</h3>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Sending Currency</label>
            <ng-select [items]="find4"
            (change)="OnChangeSendingCurrency(sendingCurrency)"
            [(ngModel)]="sendingCurrency"
            placeholder="Select"
            bindLabel="CurrencyShortName"
            class="custom" style="width: 200px;"  name="sendingCurrency" ng-model="sendingCurrency">
                <ng-option *ngFor="let fin of find4" [(value)]="fin.CurrencyShortName">{{fin.CurrencyShortName}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Receiving Country</label>
            <ng-select class="custom" (change)="OnChangeReceivingCountry(receivingCountry)"
                    [items]="find1"
                    bindLabel="CountryName"
                    placeholder="Select"
                    [(ngModel)]="receivingCountry"
                     style="width: 200px;" name="receivingCountry" ng-model="receivingCountry">
                <ng-option *ngFor="let fin of find1" [(value)]="fin.CountryName">{{fin.CountryName}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Payment Mode</label>
            <ng-select class="custom" (change)="OnChangePaymentMode(modeOfPayment)"
            [items]="find3"
            bindLabel="ModeOfPaymentName"
            placeholder="Select"
            [ngModelOptions]="{standalone: true}"
             [(ngModel)]="modeOfPayment"  name="modeOfPayment" ng-model="modeOfPayment" style="width: 200px;">
                <ng-option>Bank</ng-option>
                <ng-option *ngFor="let fin of find3" [(value)]="fin.ModeOfPaymentName">{{fin.ModeOfPaymentName}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Receive Location [city]</label>
            <ng-select class="custom" (change)="OnChangeDestinationCity(receiveCity)"
                    [items]="find2"
                    bindLabel="CityName"
                    placeholder="Select"
                    [(ngModel)]="receiveCity"
                    style="width: 200px;"  name="receiveCity" ng-model="receiveCity">
                <ng-option *ngFor="let fin of find2" [(value)]="fin.CityName">{{fin.CityName}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Recommended Agent</label>
            <ng-select (change)="OnChangeRecommendedAgent(recommendedAgent)"
            [items]="find5"
            placeholder="Select"
            bindLabel="AgentBranch_Name"
            [(ngModel)]="recommendedAgent"
            style="width: 200px;"  name="recommendedAgent" ng-model="recommendedAgent" class="custom" style="width: 200px;">
                <ng-option *ngFor="let fin of find5" [(value)]="fin.AgentBranch_Name">{{fin.AgentBranch_Name}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Receiving Currency</label>
            <ng-select (change)="OnChangeReceivingCurrency(receiveCurrency)"
            [items]="find6"
            placeholder="Select"
            bindLabel="CurrencyShortName"
            [(ngModel)]="receiveCurrency"
            style="width: 200px;"  name="receiveCurrency" ng-model="receiveCurrency" class="col-sm-4" class="custom" style="width: 200px;">
                <ng-option  *ngFor="let fin of find6" [(value)]="fin.CurrencyShortName">{{fin.CurrencyShortName}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1">Purpose of Transfer</label>
            <ng-select class="custom"
                    [items]="find"
                    placeholder="Select"
                    [(ngModel)]="purposeOfTransfer"
                    bindLabel="Purpose_Value"
                    name="purposeOfTransfer" ng-model="purposeOfTransfer" style="width: 200px;">
                <ng-option *ngFor="let fin of find" [(value)]="fin.Purpose_Value">{{fin.Purpose_Value}}</ng-option>
            </ng-select>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1" for="Date">Exchange Rate</label>
      <input class="custo"  placeholder="Enter Details" [(ngModel)]="ExchangeRate" name="ExchangeRate" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Pay in Amount</label>
    <input class="custo" placeholder="Enter Details" (change)="OnChangePayinAmount(payinAmount)" [(ngModel)]="payinAmount" name="payinAmount" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Payout Amount</label>
    <input class="custo" placeholder="Enter Details" [(ngModel)]="payOutAmount" name="payOutAmount" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Commission Charges</label>
    <input class="custo" placeholder="Enter Details"  [(ngModel)]="CommissionCharge"  name="CommissionCharge" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">VAT</label>
    <input class="custo" placeholder="Enter Details" [(ngModel)]="VAT" name="VAT" required>
  </div>
  </div>
</form>

<form *ngIf="show === 'Cash Over Counter'">
  <div class="row" style="margin: 2rem 0rem;">
    <div class="col-sm-12">
    <h3 style="text-align: center;">If Payment Mode is Bank</h3>
    </div>
    <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
      <label class="p-1" for="Date">Bank Name</label>
      <input  placeholder="Enter Details" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Branch</label>
    <input  placeholder="Enter Details" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Address</label>
    <input  placeholder="Enter Details" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">Account Number</label>
    <input  placeholder="Enter Details" required>
  </div>
  <div class="col-sm-4" style="display: flex;  padding: 1rem 1rem; justify-content: space-between;">
    <label class="p-1" for="Date">IFSC</label>
    <input  placeholder="Enter Details" required>
  </div>
  </div>
</form>

</div>
