@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
.ng-select .ng-select-container{
    border-radius: 20px !important;
}
.custo{
    padding: .3rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 20px !important;
}
#bene{
    margin-top: -1rem;
}
.form{
    margin: 2rem 0rem;
}
.hlo{
    height: 100px;
}
.table{
    height: 50px;
}
.title {
    font-family: "Roboto", sans-serif;
    padding: 1rem 0rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 30px;
    color: #444;
}
.tr {
    background-color: #e2efda !important;
}
.trs{
    background-color: #bdd8ee !important;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.details{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.row{
    padding: 1rem 0rem;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}