<div class="row">
  <div class="col-lg-4">
      <p style="cursor: pointer;">print</p>
      <p style="cursor: pointer;position: relative;top: 30px;">Date</p>
      <p style="cursor: pointer;position: relative;top: 20px;">Tax Reg No.</p>
  </div>
  <div class="col-lg-4">
    <p style="cursor: pointer;position: relative;top: 30px;">Date</p>
    <p style="cursor: pointer;position: relative;top: 20px;">Tax Reg No.</p>
  </div>
  <div class="col-lg-4">
    <p style="cursor: pointer;position: relative;top: 30px;">Date</p>
    <p style="cursor: pointer;position: relative;top: 20px;">Tax Reg No.</p>
  </div>
</div>

<div class="table" style="position: relative; height: 150px;">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-4">Curreny</td>
            <td class="col-md-4">Amount</td>
            <td class="col-md-4">Rate</td>
            <td class="col-md-4">Value[AED}</td>
          </tr>
          <tr>
            <td class="col-md-4">001</td>
            <td class="col-md-4">002</td>
            <td class="col-md-4">003</td>
            <td class="col-md-4">003</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="data">
    <h3 class="title">SPLIT PAYMENT</h3>
    <div class="row">
        <div class="col-lg-4">Cheque</div>
        <div class="col-lg-4">Cheque Date</div>
        <div class="col-lg-4">Charges</div>
        <div class="col-lg-4">Amount</div>
        <div class="col-lg-4">Bank</div>
        <div class="col-lg-4">VAT @5%</div>
        <div class="col-lg-12">Country</div>
        <div class="col-lg-8"><p class="para">"This transaction is currently on hold & shall be valid & released subject to Cheque <br> realization which may take 2 - 3 working days."</p></div>
        <div class="col-lg-4">Total:</div>
    </div>
</div>

<div class="beneficiary">
    <h3 class="details">Beneficiary Details:</h3>
    <div class="row">
        <div class="col-lg-4">Benf Name:</div>
        <div class="col-lg-4">A/C:</div>
        <div class="col-lg-4">Account Type:</div>
        <div class="col-lg-4">Benf Bank:</div>
        <div class="col-lg-8">Address:</div>
        <div class="col-lg-4">Branch:</div>
        <div class="col-lg-4">EFT Code:</div>
    </div>
</div>


<div class="customer">
    <h3 class="details">Customer Details:</h3>
    <div class="row">
        <div class="col-lg-4">Name:</div>
        <div class="col-lg-4">Mem Card No.:</div>
        <div class="col-lg-8">ID Details:</div>
        <div class="col-lg-4">Mobile:</div>
        <div class="col-lg-8">Address:</div>
        <div class="col-lg-4">Nationality:</div>
        <div class="col-lg-4">TRN:</div>
        <div class="col-lg-4">Purpose:</div>
    </div>
</div>