.table{
    padding: 1rem;
}
.row,.details {
    box-shadow: none !important;
}
.title{
    position: absolute;
    margin-top: -35px;
    background-color: #fafafa;
    text-decoration: underline;
    font-size: 23px;
    padding: .5rem 0rem;
    font-weight: 600;
}
.data{
    border: none !important;
}

.details{
    position: absolute;
    margin-top: -35px;
    background-color: #fafafa;
    font-size: 23px;
    padding: .5rem 0rem;
}

.beneficiary, .customer{
    margin: 3rem 0rem !important;
}

.data, .beneficiary, .customer{
    border: 3px solid black !important;
    padding: .7rem;
}

.col-lg-4, .col-lg-8{
    padding: .7rem;

}
.para{
    padding:1rem 0rem;
    line-height: 20px;
    font-weight: 600;
    font-family: cursive;
}