<!-- Top Navbar Area -->
<nav class="navbar top-navbar navbar-expand" style="background-color: #fafafa;">
    <div class="collapse navbar-collapse" id="navbarSupportContent">
        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
        <span id="ct"></span>
        <div class="dummy-card d-flex">          
            <div class="clock c1" id="Asia/Shanghai" #clock>
            </div>
            <div class="clock c2" id="Asia/Bangkok" style="margin-left: 60px;" #clocks>
            </div>
            <div class="clock c3" id="America/New_York" style="margin-left: 60px;" #clockss>
            </div>
            <div class="clock c4" id="Europe/Berlin" style="margin-left: 60px;" #clocks4>
            </div>
            <div class="clock c5" id="Asia/Bangkok" style="margin-left: 60px;" #clocks5>
            </div>
            <div class="clock c6" id="Asia/Bangkok" style="margin-left: 60px;" #clocks6>
            </div>
        </div>
        <div class="right d-flex" style="margin-left: auto;">
        <ul class="navbar-nav left-nav align-items-center">
            <li class="nav-item dropdown apps-box">
                <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='bx bxs-grid'></i>
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-header d-flex justify-content-between align-items-center">
                        <span class="title d-inline-block">Our Apps</span>
                    </div>
                    <div class="dropdown-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <a href="#" class="dropdown-item">
                                <span class="d-block mb-0">Customer</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <span class="d-block mb-0">Beneficiary</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <span class="d-block mb-0">Calculator</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav right-nav align-items-center">
            <li class="nav-item dropdown profile-nav-item">
                <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="menu-profile">
                        <span class="name">Hi! {{getlocalstorage}}</span>
                        <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                    </div>
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-header d-flex flex-column align-items-center">
                        <div class="figure mb-3">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                        </div>
                        <div class="info text-center">
                            <span class="name">Sandesh J</span>
                            <p class="mb-3 email">sandesh@unifiedtecnologies.com</p>
                        </div>
                    </div>
                    <div class="dropdown-body">
                        <ul class="profile-nav p-0 pt-3">
                            <li class="nav-item">
                                <a href="/profile" class="nav-link">
                                    <i class='bx bx-user'></i> <span>Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown-footer">
                        <ul class="profile-nav">
                            <li class="nav-item">
                                <a href="#"  (click)="logout();" class="nav-link">
                                    <i class='bx bx-log-out'></i> <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>
<!-- End Top Navbar Area -->