// nav.navbar.top-navbar.navbar-expand.is-sticky {
//     background-color: #fafafa !important;
//     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// }
// .right.d-flex {
//     position: relative;
//     top: -21px;
// }
// .navbar {
//     height: 170px;
// }
// .clock {
//     margin-top: -3rem;
//     position: relative;
//     width: 115px;
//     height: 115px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: #fff;
//     border-radius: 50%;
//     border: 10px solid #fff;
//     box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1),
//         0 20px 20px rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(255, 255, 255, 1);
// }
// .clock::before {
//     content: "";
//     position: absolute;
//     width: 10px;
//     height: 10px;
//     background: #848484;
//     border: 2px solid #fff;
//     z-index: 100000;
//     border-radius: 50%;
// }
// .clock::after {
//     content: "1 rupee = 0.013 US Dollar";
//     position: absolute;
//     top: 120px;
//     left: -5px;
//     height: 24px;
//     width: 178px;
//     font-size: 12px;
// }
// .sechand {
//     width: 1px;
//     height: 50%;
//     background: #ff6767;
//     transform-origin: 50% 80%;
//     position: absolute;
//     top: 10%;
//     left: 50%;
//     border-radius: 100% 100% 0 0;
// }
// .minhand {
//     width: 3px;
//     height: 40%;
//     background: #d6d6d6;
//     transform-origin: 50% 80%;
//     position: absolute;
//     top: 18%;
//     left: calc(50% - 1px);
//     border-radius: 100% 100% 0 0;
// }
// .hrhand {
//     width: 5px;
//     height: 25%;
//     background: #848484;
//     transform-origin: 50% 80%;
//     position: absolute;
//     top: 30%;
//     left: calc(50% + -2px);
//     border-radius: 100% 100% 0 0;
// }
// .num {
//     height: 100%;
//     position: absolute;
//     left: calc(50% - 0.5em);
// }
// .num div {
//     width: 1em;
//     line-height: 1em;
//     color: rgb(133, 131, 131);
//     text-align: center;
//     vertical-align: middle;
// }
// .num1 {
//     transform: rotate(30deg);
// }
// .num1 div {
//     transform: rotate(-30deg);
// }
// .num2 {
//     transform: rotate(60deg);
// }
// .num2 div {
//     transform: rotate(-60deg);
// }
// .num3 {
//     transform: rotate(90deg);
// }
// .num3 div {
//     transform: rotate(-90deg);
// }
// .num4 {
//     transform: rotate(120deg);
// }
// .num4 div {
//     transform: rotate(-120deg);
// }
// .num5 {
//     transform: rotate(150deg);
// }
// .num5 div {
//     transform: rotate(-150deg);
// }
// .num6 {
//     transform: rotate(180deg);
// }
// .num6 div {
//     transform: rotate(-180deg);
// }
// .num7 {
//     transform: rotate(210deg);
// }
// .num7 div {
//     transform: rotate(-210deg);
// }
// .num8 {
//     transform: rotate(240deg);
// }
// .num8 div {
//     transform: rotate(-240deg);
// }
// .num9 {
//     transform: rotate(270deg);
// }
// .num9 div {
//     transform: rotate(-270deg);
// }
// .num10 {
//     transform: rotate(300deg);
// }
// .num10 div {
//     transform: rotate(-300deg);
// }
// .num11 {
//     transform: rotate(330deg);
// }
// .num11 div {
//     transform: rotate(-330deg);
// }
// .num12 {
//     transform: rotate(0deg);
// }
// .num12 div {
//     transform: rotate(-0deg);
// }
// .mone {
//     position: relative;
//     top: 70px;
// }
// .money {
//     position: relative;
//     width: 1000px;
// }





















nav.navbar.top-navbar.navbar-expand.is-sticky {
    background-color: #fafafa !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.right.d-flex {
    position: relative;
    top: -21px;
}
.navbar {
    height: 170px;
}
.clock {
    margin-top: -3rem;
    position: relative;
    width: 115px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20%;
    border: 10px solid #fff;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1),
        0 20px 20px rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(255, 255, 255, 1);
}

.clock::after {
    content: "0.013 USD";
    position: absolute;
    top: 60px;
    left: 23px;
    height: 24px;
    width: 178px;
    font-size: 11px;
    font-weight: 500;
}

.c1::before{
    content: "Shanghai";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}

.c2::before{
    content: "Bangkok";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}
.c3::before{
    content: "New_York";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}
.c4::before{
    content: "Berlin";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}
.c5::before{
    content: "Bangkok";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}
.c6::before{
    content: "Bangkok";
    position: absolute;
    top: 0;
    font-size: 11px;
    font-weight: 400;
}