<div class="container">
    <div class="col-sm-12 form-group mb-0">
        <button type="button" class="btn btn-primary" 
        (click)="op(filter)"
        style="position: relative; float: right; margin: 5px; border-radius: 0; padding: .3rem 1rem; margin: .5rem 0rem;">Filter</button>
     </div>
    
     <div class="details" style="padding: 4rem 0rem; margin: 2rem 0rem;box-shadow: none !important;">
        <div class="col-lg-5 mb-3">
            <form>
              <div class="row">
                <div class="form-group col-md-9">
                    <input
                    type="text"
                    id="filter-text-box"
                    [(ngModel)]="searchText"
                    class="form-control form-control-underlined"
                    placeholder="What're you searching for?"
                    (ngModelChange)="filterchange()"
                  />
                </div>
              </div>
            </form>
        </div>
        
     <ag-grid-angular
        style="width:1202px; height:300px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
      </div>
</div>

<ng-template #filter let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Filter
      </h4>
      <button type="button" class="close btn btn-primary"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">
          <span aria-hidden="true" style="font-size: 18px;">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <div class="row">
              <div class="col-lg-6 col-sm-6" style="margin-bottom: 1rem">
                  <label for="appt">From Date:</label>
                  <input type="date" id="birthday"  formControlName="time" name="birthday">
              </div>
              <div class="col-lg-6 col-sm-6">
                  <label for="appt">To Date:</label>
                  <input type="date" id="birthday"  formControlName="timeto" name="birthday">
              </div>
          </div>
      </div>
      <button type="submit"
      style="position: relative; float: right; margin: 1rem;" 
      class="btn btn btn-primary">
      Show
  </button>
  </form>
  </div>
</ng-template>