.Log_title{
    color: #555;
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 5px;
}
.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    background-color: #fafafa;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #777;
    font-style: italic;
  }