@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ng-select .ng-select-container{
    border-radius: 20px !important;
}

.panel{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 15px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title {
    font-family: "Roboto", sans-serif;
    padding: .5rem 0rem;
    font-weight: 400;
    font-size: 30px;
    color: #444;
}
.head {
    margin-left: -0.5rem;
    font-size: 27px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #333;
}
.form-control:focus {
    border-color: #555;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label {
    color: #222;
    padding: 1rem 0rem;
    font-family: "Roboto", sans-serif;
}
input,
select {
    background-color: #fafafa;
    width: 18em;
    border-radius: 23px;
    /* border-top: 0;
    border-right: 0;
    border-left: 0; */
    -webkit-box-shadow: none;
    box-shadow: none;
    /* border-radius: 0; */
}
.field {
    padding-bottom: 1.8rem;
}

/* general styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}
.form-control:focus {
    border-color: #555;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label {
    color: #444;
    padding: 1rem 0rem;
}
/* input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
} */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.row{
    box-shadow: none !important;
}
.ng-select.custom{
    border: none;
}
.ng-select.custom .ng-select-container  {            
    border-radius: 50px !important;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
