<!-- ngNativeValidate -->
<div class="container">
    <form>
        <div class="col-sm-12 form-group mb-0">
            <button type="button" class="btn btn-primary"  style="position: relative; float: right; margin-left: 1rem; border-radius: 0;">Add New</button>
            <button type="button" class="btn btn-primary"  style="position: relative; float: right; border-radius: 0;">Cancel</button>
            <button (click)="submit();" type="submit" class="btn btn-primary" style="position: relative; float: right;  margin-right: 1rem; border-radius:0px;">submit</button>
         </div>
        <h2 class="title text-center">Benificiary Registration</h2>
        <ag-grid-angular
        style="width:1102px; height:119px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        ></ag-grid-angular>
    <div class="row jumbotron">
        <h2 class="head mt-3">Payment detail</h2>
        <div class="panel rounded-3">
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-f">Payout Country</label>
            <ng-select class="custom"
                            (change)="onChange(COUNTRY)"
                            [items]="find"
                            placeholder="Choose Payout country"
                            bindLabel="Name"
                            [(ngModel)]="COUNTRY"  name="quarter" ng-model="Quarter" style="width: 250px;">
                      <ng-option *ngFor="let fin of find" [(value)]="fin.Name">{{fin.Name}}</ng-option>
            </ng-select>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="Country">Mode</label>
            <ng-select class="custom"
                            (change)="Mode(MODE)"
                            [items]="find2"
                            placeholder="Choose Mode"
                            bindLabel="ModeOfPaymentName"
                            [(ngModel)]="MODE"  name="quarter" ng-model="Quarter" style="width: 250px;">
                      <ng-option *ngFor="let fin of find2" [(value)]="fin.ModeOfPaymentName">{{fin.ModeOfPayment_Name}}</ng-option>
            </ng-select>
        </div>
        <div class=" field col-sm-4 form-group">
            <label class="p-1" for="Country">purpose</label>
            <ng-select
            (change)="Purpose(purpose)"
            [items]="find3" bindLabel="Name" [(ngModel)]="purpose"  name="purpose" ng-model="purpose"  placeholder="Choose Purpose">

                <ng-template ng-label-tmp let-item="item">
                    <span >{{ item.Name + '&nbsp;,&nbsp;' + item['Payment Mode']}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                      <span >{{ item.Name + '&nbsp;,&nbsp;' + item['Payment Mode']}}</span>
                </ng-template>

              </ng-select>
        </div>


        <div class="field col-sm-4 form-group">
            <label class="p-1" for="email">Payout Branch</label>
            <ng-select class="custom"
                            (change)="Payout_branch(BRANCH)"
                            [items]="find1"
                            placeholder="Choose Payout branch"
                            bindLabel="BranchName"
                            [(ngModel)]="BRANCH"  name="quarter" ng-model="Quarter" style="width: 250px;">
                      <ng-option *ngFor="let fin of find1" [(value)]="fin.BranchName">{{fin.BranchName}}</ng-option>
            </ng-select>
        </div>

        <div class=" field col-sm-4 form-group">
            <label class="p-1" for="Country">Choose Customer</label>
            <ng-select
            (change)="Number(Numb)"
            [items]="find6" bindLabel="FirstName" [(ngModel)]="Numb"  name="quarter" ng-model="Quarter"  placeholder="Choose Customer">

                <ng-template ng-label-tmp let-item="item">
                    <span >{{ item.FirstName + '&nbsp;&nbsp;' + item['MiddleName'] +  '&nbsp;&nbsp;' + item['LastName']}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                      <span >{{ item.FirstName + '&nbsp;&nbsp;'  + item['MiddleName'] +  '&nbsp;&nbsp;' + item['LastName']}}</span>
                </ng-template>

              </ng-select>
        </div>

        </div>
        <h2 class="head mt-3">Beneficiary Details</h2>
        <div class="panel rounded-3">
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-f">First Name</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;"  [(ngModel)]="fname"  name="fname" id="name-f" placeholder="Enter your first name." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-l">Middle Name</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;" [(ngModel)]="mname"  name="mname" id="name-l" placeholder="Enter your Middle name." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="email">Last Name</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;"  [(ngModel)]="lname"  name="lname" id="email" placeholder="Enter your Last Name." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-f">Date of Birth</label>
            <input type="Date" style="border-radius: 20px;width: 70%;"   [(ngModel)]="nickname"  name="nickname"  class="form-control" id="Date" placeholder="" required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-l">Mobile No.</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;"  [(ngModel)]="mobile"  name="mobile" id="name-l" placeholder="Enter your Mobile Number." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="email">E-mail ID</label>
            <input type="email" class="form-control"  style="border-radius: 20px;width: 70%;" [(ngModel)]="email"  name="email" id="email" placeholder="Enter your email." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-f">Address</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;" [(ngModel)]="adress"  name="adress" id="name-f" placeholder="Enter your Address." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-l">Zip Code</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;" [(ngModel)]="zip"  name="zip" id="name-l" placeholder="Enter your Zip Code." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="email">Relationship</label>
            <ng-select class="custom"
                (change)="Relation(relation)"
                [items]="find5"
                placeholder="Choose Relationship"
                bindLabel="relation"
                [(ngModel)]="relation"  name="quarter" ng-model="Quarter" style="width: 250px;">
                <ng-option *ngFor="let fin of find5" [(value)]="fin.IDName">{{fin.relation}}</ng-option>
            </ng-select>
        </div>
        <div class="field col-sm-6 form-group">
            <label class="p-1" for="email">City</label>
            <input type="text" class="form-control w-35" style="border-radius: 20px;width: 70%;"  [(ngModel)]="city"  name="city" id="email" placeholder="Enter your City." required>
        </div>
        </div>
        <h2 class="head mt-3">Identity</h2>
        <div class="panel rounded-3">
        <div class="col-sm-4 form-group">
            <label class="p-1" for="name-f">ID Type</label>
            <ng-select class="custom"
                            (change)="Ids(ID)"
                            [items]="find4"
                            placeholder="Choose ID Type"
                            bindLabel="IDName"
                            [(ngModel)]="ID"  name="quarter" ng-model="Quarter" style="width: 250px;">
                      <ng-option *ngFor="let fin of find4" [(value)]="fin.IDName">{{fin.IDName}}</ng-option>
            </ng-select>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="name-l">ID Desc</label>
            <input type="text" class="form-control" style="border-radius: 20px;width: 70%;" [(ngModel)]="desc"  name="desc" id="name-l" placeholder="Enter your ID Description." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="email">ID No.</label>
            <input type="email" class="form-control" style="border-radius: 20px;width: 70%;" [(ngModel)]="idno"  name="idno" id="email" placeholder="Enter your ID Number." required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="Date">ID Issue Date</label>
            <input type="Date" style="border-radius: 20px;width: 70%;" [(ngModel)]="issuedate"  name="issuedate" class="form-control" id="Date" placeholder="" required>
        </div>
        <div class="field col-sm-4 form-group">
            <label class="p-1" for="Date">ID Expiry Date</label>
            <input type="Date" style="border-radius: 20px;width: 70%;"  [(ngModel)]="expirydate"  name="expirydate" class="form-control" id="Date" placeholder="" required>
        </div>
        <div class="field col-sm-4 form-group mt-4">
            <label class="p-1" for="pass">ID Upload</label>
            <input type="file" id="myFile" name="filename" style="border-radius: 0;">
        </div>
        </div>
    </div>
    </form>
</div>

