<div class="container">
    <!-- Start -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Complaince Bloack</span>
                <h3>1002</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="56.9"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Un-paid USD</span>
                <h3>10,103</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="32.1"></div>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">In Progress</span>
                <h3>$ 1000</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="45.5"></div>
                    </div>    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6">
            <div class="stats-card-box rounded-3" id="card" style="background-color: #fafafa;">
                <div class="icon-box">
                    <fa-icon [icon]="faInfo"></fa-icon>
                </div>
                <span class="sub-title">Total Payout</span>
                <h3>$ 1000</h3>
                <div class="progress-list">
                    <div class="bar-inner">
                        <div class="bar progress-line" data-width="26.0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <ag-grid-angular
    #agGrid
        style="width:244px; height:230px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
    ></ag-grid-angular>
    

    </div>