<h1 class="Log_title">Log Viewer</h1>
<!-- Start -->
<div class="details" style="padding: 2rem 0rem;box-shadow: none !important;">

    <div class="col-lg-5 mb-3 ml-2">
        <form>
          <div class="row">
            <div class="form-group col-md-9">
                <input
                type="text"
                id="filter-text-box"
                class="form-control form-control-underlined"
                placeholder="What're you searching for?"
                (input)="onFilterTextBoxChanged()"
              />
            </div>
          </div>
        </form>
    </div>


<button type="button" class="btn btn-primary" (click)="open()"  style="position: relative;float: right;"><fa-icon [icon]="faSyncAlt"></fa-icon></button>
<div class="container">  
    <ag-grid-angular
    style="width: 1100px; height:300px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [enableCellChangeFlash]="true"
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
    <h2 style="margin-bottom: 1rem;"></h2>  
</div>

</div>
<!-- End -->


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Stack Popup
        </h4>
        <button type="button" class="close btn btn-primary"
        style="font-size: 20px;"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-lg-4 col-md-4">
            <textarea id="w3review" name="w3review" rows="4" cols="50" style="margin-top: -1rem;">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorum itaque dolores illum nulla amet.
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-primary" 
            (click)="modal.close('Save click')">
            Save
        </button>
    </div>
</ng-template>