/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr.css';  
.toast-top-center {
    top: 50%;
    left:50%;
    margin:0 0 0 -150px;
}


// @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
// @import "~@ng-select/ng-select/themes/material.theme.css";
// @import "~@ng-select/ng-select/themes/ant.design.theme.css";
