<div class="col-lg-12 form-group">
    <button type="button" class="btn btn-primary" 
    (click)="op(filter)"
    style="position: relative; float: right; border-radius: 0; padding: .2rem 1rem;">Filter</button>
 </div>

 <div class="grid"
 style="position: relative;top: 3rem;">
<ag-grid-angular
style="width:1202px; height:300px;"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
></ag-grid-angular>
</div>

<ng-template #filter let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Filter
        </h4>
        <button type="button" class="close btn btn-primary"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
            <span aria-hidden="true" style="font-size: 18px;">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-sm-6" style="margin-bottom: 1rem; display: flex; flex-direction: column;">
                    <label for="appt">From Date:</label>
                    <input type="date"  id="FROM_DATE" name="FROM_DATE"  [(ngModel)]="FROM_DATE">
                </div>
                <div class="col-lg-6 col-sm-6" style="display: flex; flex-direction: column;">
                    <label for="appt">To Date:</label>
                    <input type="date" id="TO_DATE" name="TO_DATE"  [(ngModel)]="TO_DATE">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Report type</label>
                    <ng-select name="quarter" ng-model="Quarter" >
                        <ng-option>Normal</ng-option>
                        <ng-option>CCY Wise</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">LC Currency</label>
                    <ng-select (change)="changeFn(PAYOUT_COUNTRY)" [items]="find"
                    bindLabel="CurrencyShortName"
                    [(ngModel)]="PAYOUT_COUNTRY" name="quarter" ng-model="Quarter" >
                        <ng-option *ngFor="let fin of find" [(value)]="fin.CurrencyShortName" >
                        {{fin.CurrencyShortName}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Send Agent</label>
                    <ng-select (change)="changeFn(SEND_AGENT)" [items]="find1"
                    bindLabel="AgentName"
                    [(ngModel)]="SEND_AGENT" name="quarter" ng-model="Quarter" >
                        <ng-option *ngFor="let fin of find1" [(value)]="fin.AgentName">{{fin.AgentName}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">FC CUrrency</label>
                    <ng-select name="quarter" ng-model="Quarter" >
                        <ng-option value="1" >Q1</ng-option>
                        <ng-option value="2" ng-selected="Quarter=='Q1'">Q2</ng-option>
                        <ng-option value="3">Q3</ng-option>
                        <ng-option value="4">4</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label for="appt">Receiving Agent</label>
                    <ng-select (change)="changeFn(RECEIVE_AGENT)" [items]="find2"
                    bindLabel="AgentName"
                    [(ngModel)]="RECEIVE_AGENT" name="quarter" ng-model="Quarter" >
                        <ng-option *ngFor="let fin of find2" [(value)]="fin.AgentName">{{fin.AgentName}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="p-1" for="email">Cust FullName</label>
                    <input type="email" class="form-control" id="cust" name="cust"  [(ngModel)]="cust" placeholder="Enter your last name." required>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="p-1" for="email">Benfc FullName</label>
                    <input type="email" class="form-control" id="Benfc" name="Benfc"  [(ngModel)]="Benfc" placeholder="Enter your last name." required>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="p-1" for="email">from Amount</label>
                    <input type="email" class="form-control" id="From_Amount" name="From_Amount"  [(ngModel)]="From_Amount" placeholder="Enter your last name." required>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <label class="p-1" for="email">To Amount</label>
                    <input type="email" class="form-control" id="To_Amount" name="To_Amount"  [(ngModel)]="To_Amount" placeholder="Enter your last name." required>
                </div>
            </div>
        </div>
        <button type="submit"
        (click)="setValue()"
        style="position: relative; float: right; margin: 1rem;" 
        class="btn btn btn-primary">
        Show
    </button>
    </form>
    </div>
  </ng-template>